@yellow: #ffa836;   	// Jaune
@purple-dark: #2f2d3a;	// Violet foncé
@purple: #754f75;   	// Violet
@blue: #252e43;     	// Bleu
@blue-light: #334161;	// Bleu clair
@white: #ffffff;    	// White
@background: #fbfbfb;	// Background