@yellow: #ffa836;   		// Jaune
@purple-darker: #2d1e3f;	// Violet très foncé
@purple-dark: #333152;		// Violet foncé
@purple: #755dd5;   		// Violet
@blue: #3788d1;     		// Bleu
@blue-light: #334161;		// Bleu clair
@white: #ffffff;    		// White
@background: #fbfbfb;		// Background
@text: #4a4a4a;		// Text